@import "antd/lib/style/themes/default.less";
@import "antd/dist/antd.less";
@import "./overides/varriables.less";
@import "./overides/input.less";
@import "./overides/menu.less";
@import "./overides/notification.less";
@import "react-simple-keyboard/build/css/index.css";

html,
body {
  overflow-x: hidden;
  background-color: var(--hub-menu-bg);
  scroll-behavior: smooth;
}

body {
  padding: 24px 0px;
}

#root {
  width: 100%;
}

.ant-input-suffix {
  transition: all @animation-duration-base @ease-in-out;
}
