:root {
  --body-bg: #f8f8f8;
  --list-bg: #f2f2f2;
  --list-border-color: #dcdcdc;
  --list-font-color: #2c2c2c;
  --accent-color: #5d5d5d;
  --link-color: #007acc;

  --font-family-heading: "Roboto", sans-serif;
  --font-family-body: "Roboto", sans-serif;
  --font-family-code: ui-monospace, "SF Mono", Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Consolas", "Fira Code", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  p,
  h1,
  h3 {
    color: var(--list-font-color);
  }

  a {
    color: var(--link-color);
  }
}
